[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
click-didyoumean = "*"
click-help-colors = "*"
crayons = "*"


[dev-packages]

mock = "*"
pytest = "*"
